
.checkbox-container {
    display: flex;
    align-items: center;
}


.checkbox-container input[type="checkbox"] {
    display: none;
}


.checkbox-custom {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #bff5fc;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}


.checkbox-container input[type="checkbox"]:checked + .checkbox-custom {
    background-color: #83ddeb;
}


.checkbox-label {
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.checkboxrole{
    display: flex;
}